extends ../layout/layout
include ../mixins/green-buttons
 

block prepend header
    - var color = "green"

block prepend head
    - var title = "begeleiding" 

block buttons 
    +greenButtons("begeleiding")
    
block content
    main(class="main main--green")
        h1 Begeleiding
        article
            p   We bieden persoonlijke begeleiding voor professionals die werken met kinderen en jongeren op scholen, 
                | in de kinderopvang, BSO’s of in een buurthuis.
                | Heeft u een specifieke vraag of project dan hebben wij een antwoord op maat!