extends ../layout/layout
include ../mixins/red-buttons
 

block prepend header
    - var color = "red"

block prepend head
    - var title = "breda" 

block buttons 
    +redButtons("breda")
    
block content
    main(class="main main--red")
        h1 Lesaanbod ‐ Breda
        article
            p   Theaterlessen vol toneelspelen, fantaseren, verhalen verzinnen en natuurlijk scènes maken. 
                | We werken aan lef &amp; zelfvertrouwen en oefenen theatertechnieken die belangrijk zijn voor echte acteurs en actrices. 
                | De cursus wordt natuurlijk afgesloten met een presentatie voor publiek! 
            p En iedereen vanaf 4 jaar die van toneelspelen houdt mag meedoen!
                span.blockSpan Kom een keertje langs om te kijken of het iets voor je is.
