extends ../layout/layout
 

block prepend header
    - var page = "contact"
     - var color = "blue"

block prepend head
    - var title = "contact" 


block buttons
    ul(class="buttons buttons--blue")
        li
            a(href="../index.html" title="nieuws") nieuws 
        li
            a(href="../pages/over-ons.html" title="over ons") over ons
        li
            a(href="../pages/wie-zijn-wij.html" title="wie zijn wij") wie zijn wij
        li
            a(href="../pages/contact.html" title="contact") contact
        li
            a(href="../pages/achter-de-schermen.html" title="bestuur") bestuur
        li
            a(href="../pages/privacy.html" title="privacy") privacy


block content
    main(class="main main--blue")
        h1 Bedankt! Uw vraag is verzonden
        article
            p Wij hebben uw vraag ontvangen. Wij nemen zo snel mogelijk contact op!
            