extends ../layout/layout
include ../mixins/red-buttons
 

block prepend header
    - var color = "red"

block prepend head
    - var title = "lesrooster Breda"
    - var workshop = "roosterBreda" 

block buttons 
    +redButtons("breda")
    
block content
    main(class="main main--red")
        h1 Lesrooster 2019 &#47; 2020 Locatie Breda: speelzaal Montessori+
        article(class="schedule")
            table(class="table table--lesrooster")
                thead
                    tr
                        th dag
                        th wie
                        th wat
                        th waar
                        th tijd
                        th lessen
                        th start
                        th prijs
                tbody
                    tr
                        td maandag
                        td groep 1 &amp; 2
                        td 
                            a(href="locatie-breda.html#vlinderklasBreda") Vlinderklas
                        td 
                            //- a(href="locatie-breda.html#vlinderklasBreda") Montessorischool+ Breda
                            span Jan Nieuwenhuijzenstaat
                        td 15.15 - 16.00 uur
                        td 12
                        td jan
                        td &euro; 80&comma;00
                    //- tr
                        td dinsdag
                        td groep 1&comma; 2 &amp; 3
                        td 
                            a(href="locatie-prinsenbeek.html#vlinderklasPrinsenbeek") Vlinderklas
                        td 
                            a(href="locatie-prinsenbeek.html#vlinderklasPrinsenbeek") Montessorischool+ Prinsenbeek
                        td 15.00 - 15.45 uur
                        td 12
                        td aug
                        td &euro; 80,00
                    //- tr
                        td dinsdag
                        td groep 3&comma; 4 &amp; 5
                        td 
                            a(href="locatie-prinsenbeek.html#spelersklasPrinsenbeek") Spelersklas
                        td 
                            a(href="locatie-prinsenbeek.html#spelersklasPrinsenbeek") Montessorischool+ Prinsenbeek
                        td 15.45 - 16.45 uur
                        td 12
                        td aug
                        td &euro; 95,00 
                    //- tr
                    //-     td dinsdag
                    //-     td groep 6&comma; 7 &amp; 8
                    //-     td 
                    //-         a(href="locatie-prinsenbeek.html#fabriekPrinsenbeek") Fabriek
                    //-     td 
                    //-         a(href="locatie-prinsenbeek.html#fabriekPrinsenbeek") Montessorischool+ Prinsenbeek
                    //-     td 16.45 - 18.15 uur
                    //-     td 12
                    //-     td jan
                    //-     td &euro; 110,00 
                    tr
                        td donderdag 
                        td groep 3&comma; 4 &amp; 5
                        td 
                            a(href="locatie-breda.html#spelersklas1Breda") Spelersklas 1
                        td 
                            //- a(href="locatie-breda.html#spelersklas1Breda") Montessorischool+ Breda
                            span Jan Nieuwenhuijzenstaat

                        td 15.15 - 16.15 uur
                        td 12
                        td jan
                        td &euro; 95,00 
                    tr
                        td donderdag 
                        td groep 4&comma; 5 &amp; 6
                        td 
                            a(href="locatie-breda.html#spelersklas2Breda") Spelersklas 2
                        td 
                            //- a(href="locatie-breda.html#spelersklas2Breda") Montessorischool+ Breda
                            span Jan Nieuwenhuijzenstaat

                        td 16.15 - 17.15 uur
                        td 12
                        td jan
                        td &euro; 95,00
                    tr
                        td maandag
                        td groep 6&comma; 7 &amp; 8
                        td 
                            a(href="locatie-breda.html#fabriekBreda") Fabriek
                        td 
                            //- a(href="locatie-breda.html#fabriekBreda") Montessorischool+ Breda
                            span Jan Nieuwenhuijzenstaat

                        td 16.15 - 17.45 uur
                        td 13
                        td jan
                        td &euro; 115&comma;00 
            h2(class="schedule__h2") Goed om te weten
            p In januari zijn er gratis proeflessen.
              span.blockSpan Je hoeft niet op de leslocatie op school te zitten om mee te mogen doen!	
            p Bel voor meer informatie: Claudette Efrosina 
                a(href="tel:06–40084589") 06–40084589
            p De Vlinderfabriek is aangesloten bij het 
              a(href="https://www.jeugdcultuurfonds.nl" title="jeugdcultuurfonds" target="_blank") Jeugdcultuurfonds 
              | mocht u zelf geen financiële mogelijkheden hebben betalen zij het cursus bedrag voor uw kind.
            