extends ../layout/layout
include ../mixins/red-buttons
 

block prepend header
    - var color = "red"

block prepend head
    - var title = "Locatie Prinsenbeek"
    - var workshop = "locatiePrinsenbeek" 

block buttons 
    +redButtons("breda")
    
block content
    main(class="main main--red")
        article(class="courses")
            h1(class="courses__h1") locatie Prinsenbeek
            h2(class="courses__h2" id="vlinderklasPrinsenbeek") de Vlinderklas
            p(class="courses__p")
                | In de 
                strong Vlinderklas
                |  stappen we iedere week in een ander verhaal.  Soms vanuit een prentenboek, een andere keer vanuit muziek of gewoon helemaal zelfverzonnen. 
                | Fantasie is ons sleutelwoord en omdat het net alsof is, kunnen we alles en iedereen worden en overal zijn!
                | Aan het einde van de cursus sluiten we af met een korte presentatie voor publiek.
            table(class="table table--courses")
                thead
                    tr
                        th Groep&colon;
                        th Lesdag&colon;
                        th Lestijd&colon;
                        th Lesdata&colon;
                        th docent&colon;
                        th Kosten&colon;
                        th lessen&colon;
                tbody
                    tr
                        td 1, 2 &amp; 3
                        td dinsdag
                        td 15.00 - 15.45
                        td 
                            span 15 januari (eerste les = gratis proefles)
                            span 22 &amp; 29 januari, 5, 12, 19 &amp; 26 februari, 12, 19 &amp; 26 maart
                            span Presentatie&colon; 2 april
                            span Laatste les&colon; 9 april
                        td Claudette Efrosina
                        td &euro; 75,00 
                            span bij aanmelding voor 7 januari &euro; 70,00
                        td 12
            h2(class="courses__h2" id="spelersklasPrinsenbeek") de Spelersklas
            p(class="courses__p")
                | In de 
                strong Spelersklas
                |  gaan we aan de slag met personages &amp; situaties uit grote en kleine verhalen. Op de spelvloer ontdek je spelenderwijs hoe je toneel speelt en theater kunt maken met elkaar. 
                | De tweede helft van de cursus werken we aan een kleine voorstelling vanuit een zelfgeschreven script&excl; Weet jij al wie je uitnodigt&quest;
            table(class="table table--courses")
                thead
                    tr
                        th Groep&colon;
                        th Lesdag&colon;
                        th Lestijd&colon;
                        th Lesdata&colon;
                        th docent&colon;
                        th Kosten&colon;
                        th lessen&colon;
                tbody
                    tr
                        td 3, 4, 5 &amp; 6
                        td dinsdag
                        td 15.45 - 16.45
                        td 
                            span 15 januari (eerste les = gratis proefles)
                            span 22 &amp; 29 januari, 5, 12, 19 &amp; 26 februari, 12, 19 &amp; 26 maart, 2 april
                            span Presentatie&colon; 9 april
                            span Laatste les&colon; 9 april
                        td Claudette Efrosina
                        td &euro; 95,00 
                            span bij aanmelding voor 7 januari &euro; 90,00
                        td 12
            h2(class="courses__h2" id="fabriekPrinsenbeek") de Fabriek
            p(class="courses__p")
                | In de 
                strong Fabriek
                |  werken we met verschillende vormen van theater maken. 
                | Je ontdekt wat teksttoneel, bewegingstheater en improviseren is. 
                | En je leert hoe je ervoor zorgt dat een scene grappig of juist super spannend wordt. 
                | Ongeveer op de helft van de lessen gaan we aan de slag met de voorstelling: 
                | we kiezen een boek of bestaand stuk als uitgangspunt en verzinnen samen het script van de voorstelling waarin jij een hoofdrol speelt. 
            table(class="table table--courses")
                thead
                    tr
                        th Groep&colon;
                        th Lesdag&colon;
                        th Lestijd&colon;
                        th Lesdata&colon;
                        th docent&colon;
                        th Kosten&colon;
                        th lessen&colon;
                tbody
                    tr
                        td 6&comma; 7 &amp; 8
                        td dinsdag
                        td 16.45 - 18.15
                        td 
                            span 15 januari (eerste les = gratis proefles)
                            span 22 &amp; 29 januari, 5, 12, 19 &amp; 26 februari, 12, 19 &amp; 26 maart, 2 april
                            span Presentatie&colon; 9 april
                            span Laatste les&colon; 9 april
                        td Claudette Efrosina
                        td &euro; 110,00 
                            span bij aanmelding voor 7 januari &euro; 105,00
                        td 12
            h2 Goed om te weten
            p(class="courses__p")
                ul(class="courses__list")
                    li Je hoeft niet op de leslocatie op school te zitten om mee te mogen doen!
                    li De lessen gaan alleen door bij voldoende aanmeldingen, maximaal leerlingen per groep 12.
                    li De Vlinderfabriek is aangesloten bij het Jeugdcultuurfonds, 
                       | mocht u zelf het cursusgeld niet kunnen betalen dan wordt dit vergoed door het Jeugdcultuurfonds. 
                       | De aanvraag kan door uw school worden verzorgd. Kijk op 
                       a(href="https://www.jeugdcultuurfonds.nl" target="_blank") www.jeugdcultuurfonds.nl
                       | voor meer informatie.
            