extends ../layout/layout
 

block prepend header
    - var page = "privacy"
    - var color = "blue"

block prepend head
    - var title = "privacy" 

block buttons
    ul(class="buttons buttons--blue")
        li
            a(href="../index.html" title="nieuws") nieuws 
        li
            a(href="../pages/over-ons.html" title="over ons") over ons
        li
            a(href="../pages/wie-zijn-wij.html" title="wie zijn wij") wie zijn wij
        li
            a(href="../pages/contact.html" title="contact") contact
        li
            a(href="../pages/achter-de-schermen.html" title="bestuur") bestuur
        li
            a(href="../pages/privacy.html" class="buttons__active--blue" title="privacy") privacy


block content
    main(class="main main--blue")
        h1 Privacy &amp; voorwaarden
        article
            h2 algemene voorwaarden
            p Wij hanteren algemene voorwaarden. Deze zijn van toepassing op al onze diensten.
                span.blockSpan
                    a(href="../forms/algemenevoorwaarden.pdf") download hier een pdf &#40;281kb&#41; met onze algemene voorwaarden
            h2 privacy beleid
            p Wij hanteren algemene voorwaarden. Deze zijn van toepassing op al onze diensten.
                span.blockSpan
                    a(href="../forms/privacybeleid.pdf") download hier een pdf &#40;194kb&#41; met ons privacy beleid