extends layout/layout-index

block prepend header
    //- - var test = "index"

block prepend head
    - var title = "nieuws"

block content
    main(class="main main__vlindernieuws main--blue")
        h1 Vlindernieuws
        article
            .christmas
                img(src='../images/kerstkaart-2021.jpg' class="christmas__picture")
            h2 <span class="blue__text chrh2">Fijne feestmaand!</span>
            p.chrp  In januari/februari starten de theaterlessen weer!
                |  Zodra de scholen weer open mogen vind je hier 
                | (en op onze Facebook-pagina de data van de gratis proeflessen en de NAschoolse cursussen.
            //- div(class="sidepicture sidepicture--blue")
                picture
                    source(media="(max-width: 512px)" srcset="images/kids-hads-250.jpg")
                    source(media="(max-width: 768px)" srcset="images/kids-hads-320.jpg")
                    source(media="(min-width: 768px)" srcset="images/kids-hads-320.jpg")
                    img(src="images/kids-hads-320.jpg" alt="2 kinderen in de les met badmutsen" title="2 kinderen in de les met badmutsen")
                div(class="sidepicture__overlay sidepicture__overlay--blue")
        //- article
            p De NAschoolse lessen zijn afgerond met mooie presentaties en hele blije spelers!
                | En wij zijn alweer druk met de voorbereidingen van volgend seizoen;
                | workshops, lessen en projecten.
                | Maar ook de komende weken is er nog van alles te beleven! 
        //- article
        //-     .christmas
        //-         img(src='../images/theaterdoedag-vlinderfabriek.jpg' class="christmas__picture")
        //-     h2 <span class="blue__text">Hoera we mogen weer!</span>
        //-     p Geïnspireerd en uitgerust hebben we de ramen en deuren weer open gegooid; 
        //-         | een nieuw seizoen vol theater is begonnen!!! 
        //-         <span class="blue__text blockSpan">En wij hebben er zin in!</span>

        //- article
            h2 <span class="blue__text">18 juni</span> ‘De geheime deur’
            p Een bijzonder project met de kinderen die deelnemen aan het voorleescorso in Tiel!
        //- article
            //- span(class="textToUppercase")
            //- h2 <span class="blue__text">Gratis proeflessen in Breda!</span>    
            //- p In september starten de wekelijkse theaterlessen van de Vlinderfabriek weer;
            //- p Op maandag 7 september is de proefles voor alle nieuwsgierige kleuters uit de onderbouw 
            //-     | &amp; op donderdag 10 september zijn de proeflessen voor acteurs en actrices uit de middenbouw.
            //-     | De Fabriek (bovenbouw) start in oktober.
  
            //- p    
            //-     span(class="blockSpan")
            //-         a(href="pages/breda.html") Meer info over de wekelijkse lessen&excl;

            //- p <span class="blue__text">De proeflessen zijn gratis maar het is fijn als je je aanmeldt via het 
            //-     a(href="pages/contact.html") contactformulier</span> 

            //- p Uiteraard houden ook wij ons aan de RIVM voorschriften. Ouders/verzorgers worden persoonlijk op de hoogte gesteld van mogelijke wijzigingen.         
        
        
        
        article(class="main main__article--extraInfo")
            h2 extra informatie
            p 
                | Houdt voor meer info de site &amp; 
                a(href="https://www.facebook.com/pages/De-Vlinderfabriek/365229100205779" target="_blank") Facebookpagina
                |  in de gaten!
            p 
                | Sinds januari 2014 zijn wij aangesloten bij het 
                a(href="pages/jeugdcultuurfonds.html" target="_blank") Jeugdcultuurfonds
            p 
                | Meer informatie over privacy en voorwaarden.
                a(href="pages/privacy.html" target="_blank") privacy
    
            