extends layout/layout-index

block prepend header
    //- - var test = "index"

block prepend head
    - var title = "nieuws"

block content
    main(class="main main__vlindernieuws main--blue")
        h1 Vlindernieuws
        article
            //- .christmas
            //-     img(src='../images/kerstkaart-2020.jpg' class="christmas__picture")
            //- h2 Fijne feestmaand!
            //- p   Wat is de tijd voorbij gevlogen! De eerste cursusreeksen, presentaties, voorstellingen en projecten op scholen zijn afgesloten. We kijken tevreden terug naar mooie ontmoetingen op scholen en super leuke lessen met en dankzij de onze geweldige leerlingen!
            div(class="sidepicture sidepicture--blue")
                picture
                    source(media="(max-width: 512px)" srcset="images/kids-hads-250.jpg")
                    source(media="(max-width: 768px)" srcset="images/kids-hads-320.jpg")
                    source(media="(min-width: 768px)" srcset="images/kids-hads-320.jpg")
                    img(src="images/kids-hads-320.jpg" alt="2 kinderen in de les met badmutsen" title="2 kinderen in de les met badmutsen")
                div(class="sidepicture__overlay sidepicture__overlay--blue")
        //- article
            p De NAschoolse lessen zijn afgerond met mooie presentaties en hele blije spelers!
                | En wij zijn alweer druk met de voorbereidingen van volgend seizoen;
                | workshops, lessen en projecten.
                | Maar ook de komende weken is er nog van alles te beleven! 
        article
            //- .christmas
                img(src='../images/kerstkaart-2020.jpg' class="christmas__picture")
            h2 <span class="blue__text">Een goed begin!</span>
            p Wij hebben zin in 2020! Het beloofd weer een jaar boordevol leuke lessen en bijzondere workshops te worden!

            p Natuurlijk zijn er ook in 2020 wekelijkse theaterlessen in Breda (Locatie Montessori+ Breda).
            p Gloednieuwe lessen vol toneelspelen, verhalen verzinnen en scènes maken voor iedereen van 4 ‐ 12!
                span(class="blockSpan") Nieuwsgierig? Doe mee met de gratis PROEFLESSEN!
            p De proeflessen zijn op maandag 13 en donderdag 16 januari 
                | voor alle kinderen die vrijblijvend een keertje mee willen doen 
                | en voor leerlingen die zeker weten dat ze er weer bij zijn!
                span(class="blockSpan") Zoals altijd in de speelzaal van Montessori+ Breda (Jan Nieuwenhuijzenstraat).   
        //- article
            h2 <span class="blue__text">18 juni</span> ‘De geheime deur’
            p Een bijzonder project met de kinderen die deelnemen aan het voorleescorso in Tiel!
        article
            //- span(class="textToUppercase")
            h2 <span class="blue__text">Leuk als je meedoet!</span>    
                
            p    
                span(class="blockSpan")
                    a(href="pages/breda.html") Meer info over de wekelijkse lessen&excl;
        article(class="main main__article--extraInfo")
            h2 extra informatie
            p 
                | Houdt voor meer info de site &amp; 
                a(href="https://www.facebook.com/pages/De-Vlinderfabriek/365229100205779" target="_blank") Facebookpagina
                |  in de gaten!
            p 
                | Sinds januari 2014 zijn wij aangesloten bij het 
                a(href="pages/jeugdcultuurfonds.html" target="_blank") Jeugdcultuurfonds
            p 
                | Meer informatie over privacy en voorwaarden.
                a(href="pages/privacy.html" target="_blank") privacy
    
            