extends layout/layout-index

block prepend header
    //- - var test = "index"

block prepend head
    - var title = "nieuws"

block content
    main(class="main main__vlindernieuws main--blue")
        h1 Vlindernieuws
        article
            //- .christmas
            //-     img(src='../images/snowangel-low-res.jpg' class="christmas__picture")
            //- h2 Fijne feestmaand!
            //- p   Wat is de tijd voorbij gevlogen! De eerste cursusreeksen, presentaties, voorstellingen en projecten op scholen zijn afgesloten. We kijken tevreden terug naar mooie ontmoetingen op scholen en super leuke lessen met en dankzij de onze geweldige leerlingen!
            div(class="sidepicture sidepicture--blue")
                picture
                    source(media="(max-width: 512px)" srcset="images/kids-hads-250.jpg")
                    source(media="(max-width: 768px)" srcset="images/kids-hads-320.jpg")
                    source(media="(min-width: 768px)" srcset="images/kids-hads-320.jpg")
                    img(src="images/kids-hads-320.jpg" alt="2 kinderen in de les met badmutsen" title="2 kinderen in de les met badmutsen")
                div(class="sidepicture__overlay sidepicture__overlay--blue")
        article
            //- span(class="textToUppercase")
            h2 lessen Breda en Prinsenbeek    
            p 
                | Op onze leslocaties in 
                strong Breda 
                | en 
                strong Prinsenbeek 
                | zijn de NA schoolse lessen van start gegaan!
                | Op maandag zitten de lessen vol, maar op DINSDAG in 
                strong Prinsenbeek 
                | en op DONDERDAG in 
                strong Breda
                | is het nog mogelijk om in te stromen tot aan de voorjaarsvakantie!
                | DOE JE MEE?
                span(class="blockSpan")
                    a(href="pages/lesaanbod.html") Meer info over de wekelijkse lessen&excl;
        article
            h2 projecten op maat
            p
                | Naast de lessen NA school heeft de Vlinderfabriek projecten op maat voor elke bouw in het basisonderwijs, trainingen voor leerkrachten en interactieve voorleesworkshops voor peuters.
                
                span(class="blockSpan")
                    a(href="pages/contact.html") Mail
                    |  voor een vrijblijvend gesprek over de mogelijkheden.
        article
            h2 goed om te weten
            p
                | In Culemborg zijn er komend seizoen helaas geen NA&ndash;schoolse lessen. 
                | Onze theaterdocent en locatie coördinator Sylke heeft een studie sabbatical. 
                | Zodra we weer starten en nieuws hebben over nieuwe projecten communiceren we dit via de site, mail en Facebook.  
        article(class="main main__article--extraInfo")
            h2 extra informatie
            p 
                | Houdt voor meer info de site &amp; 
                a(href="https://www.facebook.com/pages/De-Vlinderfabriek/365229100205779" target="_blank") Facebookpagina
                |  in de gaten!
            p 
                | Sinds januari 2014 zijn wij aangesloten bij het 
                a(href="pages/jeugdcultuurfonds.html" target="_blank") Jeugdcultuurfonds
            p 
                | Meer informatie over privacy en voorwaarden.
                a(href="pages/privacy.html" target="_blank") privacy
    
            