extends layout/layout-index

block prepend header
    //- - var test = "index"

block prepend head
    - var title = "nieuws"

block content
    main(class="main main__vlindernieuws main--blue")
        h1 Vlindernieuws
        article
            .christmas
                img(src='../images/snowangel-low-res.jpg' class="christmas__picture")
            h2 Fijne feestmaand!
            p   Wat is de tijd voorbij gevlogen! De eerste cursusreeksen, presentaties, voorstellingen en projecten op scholen zijn afgesloten. We kijken tevreden terug naar mooie ontmoetingen op scholen en super leuke lessen met en dankzij de onze geweldige leerlingen!
            //- div(class="sidepicture sidepicture--blue")
                picture
                    source(media="(max-width: 512px)" srcset="images/kids-hads-250.jpg")
                    source(media="(max-width: 768px)" srcset="images/kids-hads-320.jpg")
                    source(media="(min-width: 768px)" srcset="images/kids-hads-320.jpg")
                    img(src="images/kids-hads-320.jpg" alt="2 kinderen in de les met badmutsen" title="2 kinderen in de les met badmutsen")
                div(class="sidepicture__overlay sidepicture__overlay--blue")
        article
            h2 Nieuwe lessen
            p Voor nu zijn we even uitgespeeld en wensen iedereen een heerlijke feestmaand toe &excl; Na de kerstvakantie zijn we er natuurlijk weer met onze wekelijkse theaterlessen. Gloednieuwe lessen vol toneelspelen, verhalen verzinnen en scènes maken voor iedereen van 4 &ndash; 12&excl;
                
            p We beginnen met gratis 
                span(class="textToUppercase") proeflessen
                |  voor alle kinderen die nieuwsgierig zijn en vrijblijvend een keertje mee willen doen. 
                | Op de bekende locaties in 
                strong Breda
                |  en  
                strong Prinsenbeek!
                span(class="blockSpan")
                    a(href="pages/lesaanbod.html") Meer info over de wekelijkse lessen&excl;
        article
            h2 goed om te weten
            p
                | In Culemborg zijn er komend seizoen helaas geen NA&ndash;schoolse lessen. 
                | Onze theaterdocent en locatie coördinator Sylke heeft een studie sabbatical. 
                | Zodra we weer starten en nieuws hebben over nieuwe projecten communiceren we dit via de site, mail en Facebook.  
        article(class="main main__article--extraInfo")
            h2 extra informatie
            p 
                | Houdt voor meer info de site &amp; 
                a(href="https://www.facebook.com/pages/De-Vlinderfabriek/365229100205779" target="_blank") Facebookpagina
                |  in de gaten!
            p 
                | Sinds januari 2014 zijn wij aangesloten bij het 
                a(href="pages/jeugdcultuurfonds.html" target="_blank") Jeugdcultuurfonds
            p 
                | Meer informatie over privacy en voorwaarden.
                a(href="pages/privacy.html" target="_blank") privacy
    
            