html {
    font-size: 100%;
}

body {
    background-color: $colorGrey;
    position: relative;
}

.pageWrapper {
    max-width: 1200px;
    position: relative;
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
}


