//TODO hover state of the arrows animation in css: they go slitghtly up a bit

.footer {
    @include clearfix;
    margin: 2rem 0.8rem 0 0.8rem;
    padding: 0 0 0.5rem 0;
    background-color: $colorWhite;
    border: 2px solid $colorWhite;
    z-index: 2;
}
    
.footer__link {
    @include clearfix;
    @include fontRegular(0.7rem);
    color: $colorGrey;
    
    .footer__link__facebookLogo {
        float: left;
        width: 60px;
        margin: 0.8rem 0.8rem 0 0.8rem;
    }

    .footer__link__arrow { 
        float: right;
        width: 70px;
        margin: 0.2rem 0.8rem 0 0.8rem;
    }

    
    &.footer__link__copyright {
        float: left;
        margin: 1.8rem 0 0 0.8rem;

    }
    
    &.footer__link__cookieSetup {
        float: right;
        margin: -0.9rem 0.8rem 0 0;
    }
}



// cookies
.noat-cookie__consent {
    @include fontBold;
    background-color: $colorGrey;
    opacity: 0.9;
}

// .noat-cookie-consent__banner
// .noat-cookie-consent-banner__text
// .noat-cookie-consent-banner__other-actions
// .noat-cookie-consent-banner-other-actions__privacy-policy
// .noat-cookie-consent-banner-other-actions__deny

.noat-cookie-consent-banner__allow {
    background-color: $colorWhite !important;
    color: $colorGrey;
}


.footer--blue {
    border-color: $colorBlue;
    
    a:hover {
       color: $colorBlue;
    }
}

.footer--orange {
    border-color: $colorOrange;
    
    a:hover {
        color: $colorOrange;
    }
}

.footer--red {
    border-color: $colorRed;
    
    a:hover {
        color: $colorRed;
    }
}

.footer--green {
    border-color: $colorGreen; 
    
    a:hover {
        color: $colorGreen;
    }
}

@mixin footer--512 {
    .footer {
        padding: 1rem 0 0.5rem 0;  
        margin: 2rem 0 0 0;
        position: absolute;
        bottom: 0;     
        display: block;
        width: 100%;
    }

    .footer__link {
        font-size: 0.8rem;
        
        .footer__link__facebookLogo {
            float: none;
            margin: 0 auto;
            display: block;
        }

        .footer__link__arrow { 
            display: none;
        }

        &.footer__link__copyright {
            margin: 0 0 0 0.8rem;
        }
    }
}
