.header__logo {
        width: 30%;
        margin: 1.5rem 0 0 0.8rem;
    }

.header__wordlogo {
    float: right;
    width: 45%;
    margin: 1.5rem 0.8rem 0 0;
    
}

.cookieMessage {
	@include fontBold(0.9rem);
	text-align: center;
    background-color: $colorWhite;
    padding: 0.5rem 0;
    margin: 0 0 0.2rem 0;
	width: 100%;
}

.cookieMessage__message {
    margin: 0 0 1rem 0;
}

.cookieMessage__button {
    @include fontBold(0.8rem);
    text-transform: uppercase;
    margin: 0 0.5rem;
}

nav {
    @include clearfix;
    
    .butterflys {
        float: left;
        list-style-type: none;
        margin: 2.5rem 0 0 0.8rem;
        
        img {
            width: 40px;
        }

        a {
            @include fontBold(0.75rem);
            text-decoration: none;
            text-transform: uppercase;
            color: $colorWhite;

            
            span {
                display: block;
                margin: 0 0 2rem 0;
            }
            
        }
        
        li:first-child a:hover { // green butterfly
            color: $colorGreen;
            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
        }
        
        li:nth-child(2) a:hover { // red butterfly
            color: $colorRed;
            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
        }

        li:nth-child(3) a:hover { // orange butterfly
            color: $colorOrange;
            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
        }

        li:nth-child(4) a:hover { // blue butterfly
            color: $colorBlue;
            text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
        }

        .butterflys__active--green {
            color: $colorGreen;
        }

        .butterflys__active--red{
            color: $colorRed;
        }

        .butterflys__active--orange {
            color: $colorOrange;
        }

        .butterflys__active--blue {
            color: $colorBlue;
        }
        
    }

    .buttons {
        float: right;
        list-style-type: none;
        margin: 2.5rem 0.8rem 0 0;
        
        li {
            margin: 0 0 1.5rem 0;
            text-align: center;
            vertical-align: middle;
        }

        a {
            @include fontBold(0.8rem);
            text-decoration: none;
            text-transform: uppercase;
            color: $colorGrey;
            background-color: $colorWhite;
            display: block;
            padding: 0.6rem 1rem 0.3rem 1rem;
            border: 2px solid $colorGrey;
            border-radius: 10px;
            position: relative;

            &::after { // second white border around the grey one
                content: " ";
                position: absolute;
                z-index: -1;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                border: 5px solid $colorWhite;
                background: $colorWhite;
                border-radius: 10px;
            }
        }

        .buttons__active--green {
            background-color: $colorGreen;
            color: $colorWhite;

            &:hover {
                color: $colorWhite;
                border-color: $colorGrey;
            
                &::after {
                    border: 5px solid $colorWhite;
                }
            }
        }

        .buttons__active--red {
            background-color: $colorRed;
            color: $colorWhite;

            &:hover {
                color: $colorWhite;
                border-color: $colorGrey;
                
                &::after {
                    border: 5px solid $colorWhite;
                }
            }
        }

        .buttons__active--orange {
            background-color: $colorOrange;
            color: $colorWhite;

            &:hover {
                color: $colorWhite;
                border-color: $colorGrey;

                &::after {
                    border: 5px solid $colorWhite;
                }
            }
        }

        .buttons__active--blue {
            background-color: $colorBlue;
            color: $colorWhite;

            &:hover {
                color: $colorWhite;
                border-color: $colorGrey;

                &::after {
                    border: 5px solid $colorWhite;
                }
            }
        }
    }

    .buttons--green {
        a {
            font-size: 0.7rem;
            padding: 0.7rem 0.8rem 0.4rem 0.8rem;


            &:hover {
                color: $colorWhite;
                border-color: $colorGreenDark; 
                background-color: $colorGreen;

                &::after {
                    border: 5px solid $colorGreenLight;
                }
            }
        }
    }

    .buttons--red {
        a {
            font-size: 0.7rem;
            padding: 0.7rem 0.8rem 0.4rem 0.8rem;

            &:hover {
                color: $colorWhite;
                border-color: $colorRedDark; 
                background-color: $colorRed;

                &::after {
                    border: 5px solid $colorRedLight;
                }
            }
        }
    }

    .buttons--orange {

        a {
            font-size: 0.7rem;
            padding: 0.7rem 0.8rem 0.4rem 0.8rem;

            &:hover {
                color: $colorWhite;
                border-color: $colorOrangeDark; 
                background-color: $colorOrange;

                &::after {
                    border: 5px solid $colorOrangeLight;
                }
            }
        }
    }

    .buttons--blue {
        a:hover {
            color: $colorWhite;
            border-color: $colorBlueDark;
            background-color: $colorBlue;

            &::after {
                border: 5px solid $colorBlueLight;
            }
        }
    }

    .buttons__second-level {
        list-style-type: none;
        border: 2px solid $colorWhite;
        border-radius: 5px;
        margin: 0.5rem 0 0 0;
        text-align: left;

       li {
        margin: 0;

            a {
                font-size: 0.66rem;
                padding: 0.7rem 0.5rem;
                background-color: transparent;
                border: none;  
                color: $colorWhite;
                text-align: left;

                &:hover {
                    // color: red;
                    background-color: $colorWhite;
                    border: none;
                    border-radius: initial;
                    text-decoration: underline;
                }

                &::after {
                    background-color: transparent; 
                    border: none;
                }

            }
        }
    }
    
    .buttons__second-level--orange { // button menu under the main button. Orange section
       border-color: $colorOrange;

       a:hover {
           color: $colorOrange;

           &::after {
               border: none;
           }
       }

        .buttons__second-level__active { // active button in the button second level
                background-color: $colorWhite;
                color: $colorOrange;
                border-radius: inherit;
    
                &:hover {
                    text-decoration: none;
                    color: $colorOrange;
                }
            }
        }
    

    .buttons__second-level--red { // button menu under the main button. Orange section
        border-color: $colorRed;

        a:hover {
            color: $colorRed;
 
            &::after {
                border: none;
            }
        }
            
         .buttons__second-level__active { // active button in the button second level
             background-color: $colorWhite;
             color: $colorRed;
             border-radius: inherit;
    
             &:hover {
                 text-decoration: none;
                 color: $colorRed;
             }
         }
     }

     .buttons__second-level--green { // button menu under the main button. Orange section
        border-color: $colorGreen;

        a:hover {
            color: $colorGreen;
 
            &::after {
                border: none;
            }
        }
            
         .buttons__second-level__active { // active button in the button second level
             background-color: $colorWhite;
             color: $colorGreen;
             border-radius: inherit;
    
             &:hover {
                 text-decoration: none;
                 color: $colorGreen;
             }
         }
     }
}

@mixin navigation--320 {
    nav {
        
        .buttons {

            a {
                padding: 0.7rem 1.8rem 0.4rem 1.8rem;
            }
        }
    }
}

@mixin navigation--512 {

    header {
        // @include clearfix;
        .header__logo {
            width: 200px;
            margin: 10rem 0 0 0.8rem;
            position: relative;
        }

        .header__wordlogo {
            width: 250px;            
        }
    }

    nav {
        width: 40%;
        margin: 1rem 0 0 0.8rem;
        overflow: visible;        

        .butterflys {
            float: none;
            margin: 0 0 0 0.8rem;
            
            a {
                span {
                    padding: 0;
                    margin: 0;
                }
            }

            li {
                position: absolute;
                padding: 0;
                margin: 0;
            }

            li:first-child { // blue butterfly
                top: 108px;
                
                img {
                    width: 40%;
                }
            }
            
            li:nth-child(2) { // green butterfly
                top: 66px;
                left: 69px;

                img {
                    transform: rotate(40deg);
                }
            }
    
            li:nth-child(3) { // orange butterfly
                top: 29px;
                left: 150px;

                img {
                    width: 75%;
                    transform: rotate(45deg);
                }
            }
    
            li:nth-child(4) { // red butterfly
                top: 119px;
                left: 198px;

                img {
                    width: 40%;
                }
            }
        }

        .buttons {
            float: left;
            margin: 2rem 0 0 0.8rem;

            a {
                font-size: 0.85rem;
                padding: 0.7rem 1.5rem 0.4rem 1.5rem;
            }
        }

        .buttons--orange {
            a {
                padding: 0.7rem 1rem 0.4rem 1rem;
            }
        }

        .buttons__second-level--orange { // button menu under the main button. Orange section
     
            li {
     
                a {
                    font-size: 0.7rem;
                    padding: 0.7rem 0.5rem;
                }
            }
         }
    }
}

@mixin navigation--768 {

    .cookieMessage {
        font-size: 0.9rem; 
    }
    
    .cookieMessage__message {
        display: inline-block;
        margin: 1rem 0;
    }
    
    .cookieMessage__button {
        font-size: 0.9rem;   
    }
   
    nav {
        .buttons--orange {
            margin: 2rem 0 5rem 0.8rem;
        }
    }
}

@mixin navigation--1080 {
    nav {

        .buttons {
            position: absolute;
            top: 220px;
            left: 14rem;
            width: 98%;

                li {
                    display: inline-block;
                    min-width: 180px;
                    margin: 0 0 0 1rem;
    
                    a {
                        padding: 0.7rem 1rem 0.4rem 1rem;  
                    }
                }
            }
            
            .buttons--blue {
                li {
                    min-width: 140px;
                }
            }
            
            .buttons__second-level {
                position: absolute;
                left: 0.8rem;
                margin: 1rem 0 0 0;
                
                li {
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    min-width: initial;
                    
                    a {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }



@mixin navigation--1200 {
    nav {

        .buttons {
            
            a {
                padding: 0.7rem 2rem 0.4rem 2rem;
            }
        }
    }
}