main {
  margin: 1rem 0.8rem;
  padding: 0.5rem;
  background-color: $colorWhite;
  border: 2px solid $colorWhite;
  overflow: hidden;
  position: relative;

  h1 {
    @include fontBold(2.1rem);
    margin: 0 0 1rem 0;
    padding: 0 1rem 0 0;
    word-break: break-word;
  }

  h2 {
    @include fontBold(1.2rem);
    color: $colorGrey;
  }

  p {
    @include fontRegular(0.9rem);
    margin: 0 0 2rem 0;
    color: $colorGrey;
    width: 70%;
  }

  a {
    @include fontRegular(0.9rem);

    &:visited {
      color: $colorBlack;
    }
  }

  .main__article--extraInfo {
    h2 {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    p {
      font-size: 0.7rem;
      margin: 0 0 0.8rem 0;
    }

    a {
      font-size: 0.8rem;
    }
  }
}

.main--blue {
  border-color: $colorBlue;

  h1 {
    color: $colorBlue;
  }

  a {
    color: $colorGrey;

    &:hover {
      color: $colorBlue;
    }
  }
}

.main--orange {
  border-color: $colorOrange;

  h1 {
    color: $colorOrange;
    margin-top: 0.8rem
  }

  a {
    color: $colorGrey;

    &:hover {
      color: $colorOrange;
    }
  }
}

.main--red {
  border-color: $colorRed;

  h1 {
    color: $colorRed;
  }

  a {
    color: $colorGrey;

    &:hover {
      color: $colorRed;
    }
  }
}

.main--green {
  border-color: $colorGreen;

  h1 {
    color: $colorGreen;
  }

  a {
    color: $colorGrey;

    &:hover {
      color: $colorGreen;
    }
  }
}

.contact {
  .contact__h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .contact__adresInfo {
    @include fontRegular;
    color: $colorGrey;
    list-style-type: none;
    margin-bottom: 2.5rem;
  }
}

.main__vlindernieuws {
  h1 {
    margin: 0;
  }

  h2 {
    margin: 1rem 0 0 0;
  }

  p {
    margin: 0 0 0.8rem 0;
  }
}

.list {
  // ul on the bleu section on behind the scenes
  list-style-type: none;
  @include fontRegular(1.1rem);
  color: $colorGrey;
  margin: 0.3rem 0 1.5rem 0.5rem;
}

.behindScenes__paragraph {
  margin: 0;
  @include fontBold(1.1rem);
}

.form {
  @include fontRegular;

  ::placeholder {
    font-size: 0.8rem;
    // padding: 0.3rem 0;
  }

  fieldset {
    border: 1px solid $colorBlue;
    background: lighten($colorBlue, 45%);
    padding: 0.5rem;
    box-shadow: 5px 10px 18px -12px $colorGrey;
  }

  label {
    color: darken($colorGrey, 25%);
    margin-left: 0.4rem;
  }

  input,
  textarea {
    width: 100%;
    border: 1px solid $colorBlue;
    border-radius: 5px;
    background: $colorWhite;
    padding: 0.5rem 0 0.2rem 0.3rem;
    margin-bottom: 1rem;
    &:nth-child(8) {
      color: red;
    }
    outline: none;

    &:hover {
      box-shadow: 0 2px 2px $colorGrey;
      transition: 0.5s;
    }

    &:focus {
      background: lighten($colorBlue, 50%);
    }
  }

  input[type='submit'] {
    @include fontBold;
    color: $colorGrey;
    display: block;
    margin: 0 auto 1rem auto;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $colorGrey;
    border-radius: 10px;
    padding: 1.3rem 0 0.8rem 0;
    width: 150px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      color: $colorBlue;
      border: 1px solid $colorBlue;
      box-shadow: 0 2px 5px $colorGrey;
      transition: all 0.5s;
    }
  }
}

.form__subscribe__starObligated {
  margin: 2rem 0 0 0.4rem;
}

.form__subscribe {
  fieldset {
    background: lighten($colorRed, 50%);
    border: 1px solid $colorRed;
    margin-bottom: 1rem;
    padding-top: 2rem;
  }

  legend {
    padding: 0.3rem 0.5rem 0 0.5rem;
    background: $colorRed;
  }

  label {
    display: block;
  }

  select {
    color: darken($colorGrey, 25%);
    background: $colorWhite;
    border: 1px solid $colorRed;
    border-radius: 5px;
    padding: 0.3rem 0.5rem 0 0.5rem;
    margin: 0.2rem 0.4rem 0.4rem 0.4rem;
    outline: none;

    &:hover {
      box-shadow: 0 2px 2px $colorGrey;
      transition: 0.5s;
    }

    &:focus {
      background: lighten($colorRed, 45%);
    }
  }

  select[name='locatie en cursus'] {
    width: 99%;
  }

  input,
  textarea {
    border: 1px solid $colorRed;

    &:focus {
      background: lighten($colorRed, 45%);
    }
  }

  .form__subscribe__confirmation {
    position: relative;
  }

  .form__subscribe__confirmation__label {
    display: block;
    margin-bottom: 50px;
    cursor: pointer;
    user-select: none;
    text-align: center;
  }

  .form__subscribe__confirmation__input {
    opacity: 0;
    cursor: pointer;
  }

  .form__subscribe__confirmation__checkmark {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    height: 22px;
    width: 22px;
    background-color: $colorWhite;
    border: 1px solid $colorRed;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }

  .form__subscribe__confirmation__label:hover
    input
    ~ .form__subscribe__confirmation__checkmark {
    box-shadow: 0 2px 2px $colorGrey;
    width: 23px;
    background: lighten($colorRed, 45%);
    transition: all 0.5s ease-in-out;
  }

  .form__subscribe__confirmation__checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .form__subscribe__confirmation__label
    input:checked
    ~ .form__subscribe__confirmation__checkmark:after {
    display: block;
  }

  .form__subscribe__confirmation__label
    .form__subscribe__confirmation__checkmark:after {
    left: 7px;
    top: 2px;
    width: 8px;
    height: 14px;
    border: 2px solid $colorBlack;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  input[type='submit'] {
    &:hover {
      color: $colorRed;
      border: 1px solid $colorRed;
      box-shadow: 0 2px 5px $colorRed;
    }
  }
}

.main__kinderboekenweek__h1 {
  text-align: center;
  font-size: 2.1rem;
}

.main__kinderboekenweek__h2 {
  font-size: 1.4rem;
  margin: 0 0 0.5rem 0;
}

.main__kinderboekenweek__p--bolder {
  @include fontBold;
  margin: 1rem 0;
}

.sidepicture img {
  display: block;
  height: auto;
  width: 100%;
  box-shadow: 1px 1px 15px 2px $colorGrey;
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
}

.sidepicture {
  font-size: 0;
  position: relative;
  width: 60%;
  max-width: 200px;
  margin: 0 auto 1rem auto;

  &:hover img {
    opacity: 1;
  }
}

.sidepicture--blue {
  border: 2px solid $colorBlue;
}

.sidepicture--orange {
  border: 2px solid $colorOrange;
}

.sidepicture__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;

  &:hover {
    opacity: 0;
  }
}

.sidepicture__overlay--orange {
  background: $colorOrange;
}

.sidepicture__overlay--blue {
  background: $colorBlue;
}

.schedule__h2 {
  color: $colorRed;
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
}

.courses__h2 {
  color: darken($colorGrey, 10%);
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.courses__p {
  margin-bottom: 0.5rem;
}


@mixin main--512 {
  main {
    float: right;
    width: 50%;
    margin: 2rem 0.8rem 8rem 0.8rem;
    padding: 0.8rem;
  }
}

@mixin main--768 {
  main {
    width: 65%;
    font-size: 1rem;

    a {
      font-size: 1rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  .contact {
    .contact__adresInfo__artistik {
      display: inline-block;
    }

    .contact__adresInfo__bussiness {
      display: inline-block;
      margin-left: 5rem;
    }
  }

  main .main__article--extraInfo {
    margin-top: 4rem;

    p {
      margin: 0.3rem 0 0 0;
    }
  }

  .main__kinderboekenweek__h2 {
    margin: 0 0 1rem 0;
  }

  .main__kinderboekenweek__p {
    float: left;
    width: 60%;
  }

  .main__kinderboekenweek__p--bolder {
    @include fontBold(1.1rem);
    margin: 1rem 0;
  }

  .sidepicture {
    float: right;
    width: 30%;
    max-width: 200px;
    margin: 2rem 1rem 1rem 0;
    transform: rotate(15deg);
  }
}

@mixin main--1080 {
  main {
    @include clearfix;
    float: none;
    font-size: 1.1rem;
    display: block;
    width: 98%;
    margin: 5rem 0.8rem 8rem 0.8rem;
  }

  .main__kinderboekenweek {
    position: relative;
  }

  .main__kinderboekenweek__p--bolder {
    width: 60%;
  }

  .main__kinderboekenweek__h1 {
    text-align: left;
  }

  .sidepicture {
    max-width: 235px;
    position: absolute;
    top: -4rem;
    right: -1rem;
    transform: rotate(25deg);
    position: absolute;
  }
}

@mixin main--1200 {
}
