.table {
    @include fontRegular(0.9rem);
    color: $colorGrey;
    width: 100%;

    table, thead, tbody, th, td, tr {
        display: block;
    }
    
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin-bottom: 1rem;
        border: 1px solid $colorRed;
        background: lighten($colorRed, 45%);
        padding: 0.5rem;
    }
    
    td {
        border: none;
		position: relative;
        padding: 0.2rem 0 0.2rem 30%; 
        background: lighten($colorRed, 50%);

        &:before {
        @include fontBold(0.9rem); 
        color: darken($colorGrey, 10%);
		position: absolute;
		left: 6px;
		width: 25%; 
		padding-right: 10px; 
        white-space: nowrap;        
        }

        span {
            display: table;
        }
    }
}

.table--lesrooster td:nth-of-type(1):before { content: "dag"; }
.table--lesrooster td:nth-of-type(2):before { content: "wie"; }
.table--lesrooster td:nth-of-type(3):before { content: "wat"; }
.table--lesrooster td:nth-of-type(4):before { content: "waar"; }
.table--lesrooster td:nth-of-type(5):before { content: "tijd"; }
.table--lesrooster td:nth-of-type(6):before { content: "lessen"; }
.table--lesrooster td:nth-of-type(7):before { content: "start"; }
.table--lesrooster td:nth-of-type(8):before { content: "prijs"; }


.table--courses td:nth-of-type(1):before { content: "groep"; }
.table--courses td:nth-of-type(2):before { content: "dag"; }
.table--courses td:nth-of-type(3):before { content: "tijd"; }
.table--courses td:nth-of-type(4):before { content: "data"; }
.table--courses td:nth-of-type(5):before { content: "docent"; }
.table--courses td:nth-of-type(6):before { content: "kosten"; }
.table--courses td:nth-of-type(7):before { content: "lessen"; }


.table--courses {
    margin-bottom: 1.5rem;
}

@mixin schedule--1080 {
    .table {
        border-collapse: separate;
        
        table {
            display: table;
            border: none;
        }
        
        tbody {
            display: table-row-group;
            background: lighten($colorRed, 50%);
        }
        
        thead {
            display: table-header-group;
            font-size: 1.1rem;
            text-transform: uppercase;
        }
        
        thead tr {
            display: table-row;
            text-align: left;
            position: initial;
            top: 0;
            left: 0;
        }
        
        th {
            display: table-cell;
            padding: 0.5rem 0.5rem 0 0.5rem;
            border: 1px solid $colorRed;
        }
        
        tr {
            display: table-row;
            font-size: 1rem;
        }
        
        td {
            display: table-cell;
            position: initial;
            padding: 0.5rem;
            background: none;
            vertical-align: top;

            &:before {
                display: none;
            }
        }
    }

    .table--courses {
        
        tbody {
            tr:nth-child(1),
            tr:nth-child(2),
            tr:nth-child(6),
            tr:nth-child(7)
            {
                background: lighten($colorRed, 45%);
            }
        }
    }

    .table--lesrooster {
        tbody {
            tr:nth-child(1),
            tr:nth-child(2),
            tr:nth-child(6),
            tr:nth-child(7)
            {
                background: lighten($colorRed, 50%);
            }
        }
    }
}