//primary colors $name:;
$colorGrey:      rgba(122, 122, 131, 1);
$colorBlue:      rgba(0, 190, 223, 1);
$colorOrange:    rgba(248, 111, 44, 1);
$colorGreen:     rgba(89, 174, 63, 1);
$colorRed:       rgba(241, 0, 80, 1);


$colorWhite:     rgba(255, 255, 255, 1);
$colorBlack:     rgba(0, 0, 0, 1);

