doctype html
html(lang="nl")
    head
        title test
    body
        h1 Test
        a(href="pages/test.html") test
        img(src=require("../images/woordlogo.png"))
        //- img(src="../images/woordlogo.png")